  <body class="text-center">
    <form action="/reg" method="post" class="form-signup">
      <img class="mb-4" src="images/melogo.png" alt="" width="90" height="90">
      <h1 class="h3 mb-3 font-weight-normal">Please sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <label for="name" class="sr-only">Full Name</label>
      <input type="name" id="name" name="fullname" class="form-control" placeholder="Full Name" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password"  id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="mobileno" class="sr-only">Mobile No.</label>
      <input type="mynumber" id="inputmobileno" name="mobile"  class="form-control" placeholder="Mobile No" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" > Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p>Have an account?<a class="link" href = '/login'> Log in</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>
  </body>